<div class="mb-5">
	<h2>Received penfriend request</h2>
	<% @received_correspondances.each do |correspondance| %>
		<div class="boxed p-2 mb-1 rounded pl-4 pr-4 ">
			<div class="row align-items-center justify-content-between">
				<div class="media align-items-center">
					<%if correspondance.other_friend(current_user).avatar.attached?%>
						<%=image_tag(correspondance.other_friend(current_user).avatar, :alt => "avatar", class: "avatar avatar-lg rounded mr-3")%>
					<%else%>
						<%= image_tag("img/user-1.jpg", :alt => "avatar", class: "avatar avatar-lg rounded mr-3") %>
					<%end%>
					<div class="media-body">
						<h5 class="mb-0"><%= correspondance.other_friend(current_user).name %></h5>
					</div>
				</div>
				<div class="text-md-right"> 
					<p><%= correspondance.message %></p> 	
				</div>
			</div>
		</div>
	<% end %>
</div>

<div class="mb-5">
	<h2>Sent penfriend request</h2>
	<% @sent_correspondances.each do |correspondance| %>
		<div class="boxed p-2 mb-1 rounded pl-4 pr-4 ">
			<div class="row align-items-center justify-content-between">
				<div class="media align-items-center">
					<%if correspondance.other_friend(current_user).avatar.attached?%>
						<%=image_tag(correspondance.other_friend(current_user).avatar, :alt => "avatar", class: "avatar avatar-lg rounded mr-3")%>
					<%else%>
						<%= image_tag("img/user-1.jpg", :alt => "avatar", class: "avatar avatar-lg rounded mr-3") %>
					<%end%>
					<div class="media-body">
						<h5 class="mb-0"><%= correspondance.other_friend(current_user).name %></h5>
					</div>
				</div>
				<div class="text-md-right"> 
					<p><%= correspondance.message %></p> 	
				</div>
			</div>
		</div>
	<% end %>
</div>

<div class="mb-5">
	<h2>Your friends</h2>
	<div class="row">
		<% @validated_correspondances.each do |c| %>
			<% friend = c.other_friend(current_user) %>
			<div class="col-md-4">
				<%= link_to friend, class: "user-photo" do  %>
					<figure class="user user-circle">
						<%if friend.avatar.attached?%>
							<%=image_tag(friend.avatar, :alt => "avatar")%>
						<%else%>
							<%= image_tag("img/user-1.jpg", :alt => "avatar") %>
						<%end%>
						<figcaption class="user-caption">
							<h4><%= friend.name %></h4>
							<span>Head of Experience Design</span>
							<ul class="socials socials-sm bordered">
								<li><a href="" class="icon-facebook fs-20"></a></li>
								<li><a href="" class="icon-instagram fs-20"></a></li>
								<li><a href="" class="icon-twitter fs-20"></a></li>
							</ul>
						</figcaption>
					</figure>
				<% end %>
			</div>
		<% end %>
	</div>
</div>

<div class="mb-5">
	<h2>Refused penfriend request</h2>
	<% @refused_correspondances.each do |correspondance| %>
		<div class="boxed p-2 mb-1 rounded pl-4 pr-4 ">
			<div class="row align-items-center justify-content-between">
				<div class="media align-items-center">
					<%if correspondance.other_friend(current_user).avatar.attached?%>
						<%=image_tag(correspondance.other_friend(current_user).avatar, :alt => "avatar", class: "avatar avatar-lg rounded mr-3")%>
					<%else%>
						<%= image_tag("img/user-1.jpg", :alt => "avatar", class: "avatar avatar-lg rounded mr-3") %>
					<%end%>
					<div class="media-body">
						<h5 class="mb-0"><%= correspondance.other_friend(current_user).name %></h5>
					</div>
				</div>
				<div class="text-md-right"> 
					<p><%= correspondance.message %></p> 	
				</div>
			</div>
		</div>
	<% end %>
</div>
