<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @correspondance.user %>
</p>

<p>
  <strong>User:</strong>
  <%= @correspondance.user %>
</p>

<%= link_to 'Edit', edit_correspondance_path(@correspondance) %> |
<%= link_to 'Back', correspondances_path %>
