<div class="row justify-content-center mt-5 mb-5">
  <div class="col-8">
    <h1 class="text-center mt-5">Cities</h1>
    <div class="row justify-content-center">

      <table>
        <thead>
          <tr><th colspan="6"><h2>Update</h2></th></tr>
          <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Zip code</th>
            <th>Description</th>
            <th>Picture</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @cities.each do |city| %>
            <%= form_with(model: city, url: admins_city_path(city) ,local: true, multipart: true) do |form| %>
              <tr>
                <td><%= form.text_field :name %></td>
                <td><%= form.text_field :country %></td>
                <td><%= form.text_field :zip_code %></td>
                <td><%= form.text_area :description %></td>							
                <td>
                  <%= image_tag city.picture, style: "width: 6rem" %>
                  <%= file_field_tag :picture %>            
                </td>
                <td><%= form.submit "Update" %></td>
              </tr>
              <tr>
                <% if city.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>
                    <ul>
                      <% city.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>        
              </tr>
            <% end %>
          <% end %>
        </tbody>
        <thead>
          <tr><th colspan="6"><h2>Update</h2></th></tr>
          <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Zip code</th>
            <th>Description</th>
            <th>Picture</th>
            <th></th>
          </tr>
        </thead>
          <%= form_with(model: @city_new, url: admins_cities_path , local: true, multipart: true) do |form| %>
						<tr>
							<td><%= form.text_field :name %></td>
							<td><%= form.text_field :country %></td>
							<td><%= form.text_field :zip_code %></td>
							<td><%= form.text_area :description %></td>							
							<td>
								<%= file_field_tag :picture %>            
							</td>
							<td><%= form.submit "Create" %></td>
						</tr>
            <tr>
              <% if @city_new.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@city_new.errors.count, "error") %> prohibited this city from being saved:</h2>
                  <ul>
                    <% @city_new.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>        
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
