
<div class="row">
  <div class="col-3">
    <div class="container bg-light" style="height: 40em;overflow: auto;">
      <%= link_to new_conversation_path, remote: true do %>
        <div class="row align-items-center m-2">
          <i class="fas fa-plus-circle fa-2x p-1"></i>
          <p>New Conversation</p>
        </div>      
      <% end %>
      <div id="conversation">
        <% @conversations.each do |conversation| %>
          <% user = conversation.other_participant(current_user) %>
          <%= link_to conversation_messages_path(conversation), remote: true, class: "user-photo"  do %>
            <div class="row align-items-center m-2">
              <%if user.avatar.attached?%>
                <%=image_tag(user.avatar, :alt => "avatar", class: "avatar avatar-sm rounded mr-3")%>
              <%else%>
                <%= image_tag("img/user-1.jpg", :alt => "avatar", class: "avatar avatar-sm rounded mr-3") %>
              <%end%>
              <div class="">
                <h6 class="mb-0"><%= user.name %></h6>
                <span class="text-muted"><%= conversation.messages.last.content[0..20] + "..." %></span>
              </div>
            </div>    
          <% end %>        
        <% end %>
      </div>
      <br>
    </div>  
  </div>

  <div id="messages" class="col-9">
   </div>
</div>