<div class="row justify-content-center">
	<div class="col-md-10 col-lg-8">
    <h4 class="mb-2 fs-20 font-weight-normal">General Information</h4>
    <%= form_with(model: flat, local: true) do |form| %>
      <% if flat.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(flat.errors.count, "error") %> prohibited this flat from being saved:</h2>
          <ul>
          <% flat.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :address %>
        <%= form.text_field :address, class: "form-control mb-2" %>
      </div>

      <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control mb-2" %>
      </div>

      <div class="field">
        <%= form.label :has_wifi %>
        <%= form.check_box :has_wifi %>
      </div>

      <div class="actions">
        <%= form.submit "Save changes", class: "btn btn-secondary mb-5" %>
      </div>
      <hr>
    <% end %>
    
    <h4 class="mb-2 fs-20 font-weight-normal">Pictures Information</h4>
    <p><%= label_tag "Delete pictures" %></p> 
    <div class="row ">
      <% flat.pictures.each do |pic| %>
        <div>
          <%= image_tag pic, :style => "height: 250px ;width: 200px ;margin: 10px;"%> <br>
          <%= link_to 'Delete', flat_flat_picture_path(flat,:pic => pic), :method => :delete, :data => {:confirm => 'Are you sure?'}, class: "btn btn-secondary m-auto"  %>
        </div>
      <%end%>
    </div>

    <%= form_tag flat_flat_pictures_path(flat.id), multipart: true do %>
      <p><%= label_tag "Add a new picture" %></p> 
      <%= file_field_tag :pictures %>
      <%= submit_tag "Upload picture", class: "btn btn-secondary mb-5" %>
    <% end %>
  </div>
</div>
