

<div class="row justify-content-center">
  <div class="col-md-10 col-lg-8">
    <div class="row mb-4">
      <div class="col">
        <div class="boxed">
          <div class="row align-items-center justify-content-between p-3">
            <div class="col-md-2 pb-2 pb-md-0 text-center">
              <%if @user.avatar.attached?%>
                  <%= image_tag(@user.avatar, :alt => "avatar", class: "avatar avatar-lg rounded") %>
              <%else%>
                  <img src="../../assets/images/demo/user-5.jpg" alt="Avatar" class="avatar avatar-lg rounded">
              <%end%>
            </div>
            <div class="col-md-5 text-center text-md-left">
              <h4 class="mb-0"><b><%= @user.first_name%></b> <%= @user.last_name %></h4>
              <%= form_tag user_avatars_path(@user), multipart: true do %>
                <%= file_field_tag :avatar %>
                <%= submit_tag "Upload avatar", class: "fs-14 link text-primary" %>
              <% end %>
            </div>
            <div class="col-md-4 text-center text-md-right mt-1 mt-md-0">
            </div>
          </div>
        </div>
      </div>
    </div>


    <h4 class="mb-2 fs-20 font-weight-normal">Pictures Information</h4>
    <p><%= label_tag "Delete pictures" %></p> 
    <div class="row ">
      <% @user.pictures.each do |pic| %>
        <div class="col-md-4">
          <figure>
            <%=image_tag(pic, :alt => "picture")%>
            <figcaption class="user-caption">
              <%= link_to 'Delete', user_user_picture_path(@user,:pic => pic), :method => :delete, :data => {:confirm => 'Are you sure?'}, class: "btn btn-secondary m-auto"  %>
            </figcaption>
          </figure>
        </div>
      <%end%>
    </div>

    <%= form_tag user_user_pictures_path(@user.id), multipart: true do %>
      <p><%= label_tag "Add a new picture" %></p> 
      <%= file_field_tag :pictures %> <br><br>
      <%= submit_tag "Upload picture", class: "btn btn-secondary mb-5" %>
    <% end %>

    <%= form_with(model: @user, local: true) do |form| %>
      <div class="row">
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="col">
          <h5 class="mb-2 fs-20 font-weight-normal">General Information</h5>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <%= form.text_field :first_name, placeholder: @user.first_name, class: "form-control" %>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="secondName">Last Name</label>
                <%= form.text_field :last_name, placeholder: @user.last_name, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="userDescription">Description</label>
                <%= form.text_area :description, placeholder: @user.description, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5 class="mb-2 fs-20 font-weight-normal">Profile Information</h5>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="userNationality">Nationality</label>
                <%= form.text_field :nationality, placeholder: @user.nationality, class: "form-control" %>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="userAge">Age</label>
                <%= form.text_field :age, placeholder: @user.age, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <%= form.label :city_id %>              
                <select id="user_city_id" name="user[city_id]" style="opacity: 1 !important;" class="form-control">
                  <% City.order(:name).each do |city| %>
                    <% if city == @user.city %>
                      <% select = "selected" %>
                    <% end %>
                    <option value="<%=city.id%>" <%= select %>   ><%= city.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="userWelcomeMessage">Welcome Message</label>
                <%= form.text_area :welcome_message, placeholder: @user.welcome_message, class: "form-control" %>
              </div>
            </div>
          </div>
          
          <%= label_tag "Languages spoken" %>
          <div class="form-row">
            <div class="col">
              <div class="form-group row ">
                <% @languages.each do |language| %>
                  <div class="p-1">
                    <% @user.languages.include?(language)? checked = true : checked = false %>
                    <%= check_box_tag("language_ids[]" , language.id, checked, id: "language_ids_#{language.id}") %>
                    <%= label_tag language.language %>
                  </div>  
                <% end %>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-3">
              <%= form.submit "Save changes", class: "btn btn-secondary mb-5" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= render "devise/registrations/edit" %>
    <h4 class="mb-2 fs-20 font-weight-normal">Modify your preferences</h4>
    <%= link_to "Edit your preferences", new_user_preference_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_preferences' , class: "btn btn-secondary mb-5"}  %>            
  </div>
</div>


