<section class="p-0 bg-light">
  <div class="image image-overlay image-cover" style="background-image:url(<%=rails_blob_url(@user.city.picture)%>)"  
    data-top-top="transform: translateY(0px);"
    data-top-bottom="transform: translateY(-250px);"></div>
    <div class="container">
      <div class="row justify-content-center align-items-end vh-50 mb-5">
        <div class="col col-md-10 col-lg-8">
          <div class="row align-items-center">
            <div class="col-4 col-lg-3">
              <%= image_tag(@user.avatar, :alt => "avatar", class: "avatar avatar-xl rounded") %>
            </div>
            <div class="col">
              <div class="row align-items-center">
                <div class="col-md-8">
                  <h2 class="mb-0"><b><%= @user.first_name %></b> <%= @user.last_name %></h2>
                  <span class="text-muted"><%= @user.age %> years old, <%= @user.city.name%></span> <br>
                  <span class="text-muted">"<%= @user.welcome_message %>"</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bg-light p-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8">
        <div class="nav nav-tabs mb-1">
          <%= link_to "My conversations", conversations_path, remote: true, class: "nav-item nav-link"   %>
          <%= link_to "My friends", correspondances_path, remote: true, class: "nav-item nav-link"   %>
          <a class="nav-item nav-link" data-toggle="tab" href="#demo-2-3">My trips</a>
          <%= link_to "Comments", user_comments_path(@user), remote: true, class: "nav-item nav-link"   %>
          <%= link_to "My profil", edit_user_path(current_user), remote: true, class: "nav-item nav-link"   %>
          <%= link_to "My flat", edit_flat_path(current_user.flat), remote: true, class: "nav-item nav-link"   %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- stats -->
<%= render "user_stat" %>
<!-- / stats -->



<div class="bg-light pt-2">

  <div class="container">
    <div class="tab-content" id="demo-2">

        <div id="tab"></div>



      <!-- tab trips -->
      <div class="tab-pane" id="demo-2-3" role="tabpanel" aria-labelledby="demo-2-3">
        <div class="w-75 m-auto">
          <%= render "trips/index", locals: {trips: @trips} %>
        </div>
      </div>
      <!-- / tab -->


    </div>
  </div>
</div>

<!-- footer -->
<%= render "footer" %>
<!-- / footer -->
<%= render "answers/modal_new" %>
<%= render "user_preferences/modal_new" %>
<%= render "trips/modal_trips" %>
