    <%= render 'correspondances/modal_create' %>
    <%= render 'comments/modal_create' %>

    <section class="p-0 bg-light">
      <div class="image image-overlay image-cover" style="background-image:url(<%=rails_blob_url(@user.city.picture)%>)"
      data-top-top="transform: translateY(0px);"
      data-top-bottom="transform: translateY(-250px);"></div>
      <div class="container">
        <div class="row justify-content-center align-items-end vh-50 mb-5">
          <div class="col col-md-10 col-lg-8">
            <div class="row align-items-center">
              <div class="col-4 col-lg-3">
                <%if @user.avatar.attached?%>
                    <%= image_tag(@user.avatar, :alt => "avatar", class: "avatar avatar-xl rounded") %>
                <%else%>
                    <img src="/assets/img/nopic.png" alt="Avatar" class="avatar avatar-xl rounded">
                <%end%>
              </div>
              <div class="col">
                <div class="row align-items-center">
                  <div class="col-md-8">
                    <h2 class="mb-0"><b><%= @user.first_name %></b> <%= @user.last_name%></h2>
                    <span class="text-muted"><%= @user.age %> years old, <%= @user.city.name%></span> <br>
                    <span class="text-muted">"<%= @user.welcome_message %>"</span>
                  </div>
                  <div class="col-md-4 text-left text-md-right">
                    <% correspondance = Correspondance.select(current_user, @user) %>
                    <% if !correspondance %>
                      <div class="row align-items-center "> 
                        <p class="text-black mb-0">Ask to be your friend  </p>
                        <%= link_to "#", "data-toggle" =>"modal", 'data-target' => '#modal_correspondances', title: "Add Friend" do %>
                          <i class="btn btn-rounded btn-ico btn-white"><i class="fas fa-plus fa-2x p-1 text-primary"></i></i> 
                        <% end %>
                      </div>
                    <% elsif correspondance.status == "waiting" && correspondance.creator == current_user %>
                      <p>Correspondance waiting for validation</p>
                    <% elsif correspondance.status == "waiting" && correspondance.creator == @user %>
                      <%= link_to "Accept", correspondance_path(correspondance, :update => true), class: "btn-success p-1", method: :put  %>
                      <%= link_to "Refuse", correspondance_path(correspondance, :update => false), class: "btn-danger p-1", method: :put  %>
                    <% elsif correspondance.status == "validated"%>
                      <div class="row align-items-center "> 
                        <p class="text-black mb-0">Leave a comment  </p>
                        <%= link_to "#", "data-toggle" =>"modal", 'data-target' => '#modal_comments', class: "btn btn-rounded btn-ico btn-white", title: "Add Friend" do %>
                          <i class="fas fa-plus fa-2x p-1 text-primary"></i>
                        <% end %>
                      </div>
                    <% elsif correspondance.status == "refused"%>
                      <p>Friendship refused</p> 
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="bg-light p-0">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-10 col-lg-8">
            <div class="nav nav-tabs mb-1">
              <a class="nav-item nav-link active" data-toggle="tab" href="#demo-2-1">Profile</a>
              <a class="nav-item nav-link" data-toggle="tab" href="#demo-2-2">Comments</a>
              <% if correspondance %>
                <% if correspondance.status == "validated" %>
                  <a class="nav-item nav-link" data-toggle="tab" href="#demo-2-3">Flat</a>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%= render "user_stat" %>

    <section class="bg-light pt-2">

      <div class="container">
        <div class="tab-content" id="demo-2">

          <!-- tab info -->
          <div class="tab-pane show active" id="demo-2-1" role="tabpanel" aria-labelledby="demo-2-1">
            <%= render "show_public" %>
          </div>
          <!-- / tab -->


          <!-- tab connections -->
          <div class="tab-pane" id="demo-2-2" role="tabpanel" aria-labelledby="demo-2-2">
            <%= render "comments/index" %>
          </div>
          
          
          <% if correspondance %>
            <% if correspondance.status == "validated" %>
              <div class="tab-pane" id="demo-2-3" role="tabpanel" aria-labelledby="demo-2-3">
                <%= render "flats/flat" %>
              </div>
            <% end %>
          <% end %>   
        </div>
      </div>
    </section>
