 <% @color = "white" %>

 
 <section class="min-vh-100 bg-primary">
        <div class="container d-flex align-items-center pt-lg pt-lg-0">
            <div class="col py-lg">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h1 class="text-white">Forgot yout password?</h1>
                        <p class="lead text-white mt-4">Pleasse enter the email adress assiociate with your kitties account</p>

                          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                            <%= render "devise/shared/error_messages", resource: resource, color: @color %>
                            <div class="field">
                                <%= f.label :email, class: 'h3 text-white' %><br />
                                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-emphasized", placeholder: "Email" %>
                            </div>

                            <div class="actions">
                                <%= f.button :submit, class: "btn btn-secondary btn-circle btn-icon btn-translate--hover mt-4 scroll-me" do %>
                                    <span class="btn-inner--text">Send me reset password instructions</span>
                                    <span class="btn-inner--icon"><i class="fas fa-pencil-alt"></i></span>
                                <%end%>
                            </div>

                          <% end %>
                          <br>      
                        <%= render "devise/shared/links", color: @color %>
                    </div>
                </div>
            </div>
        </div>
</section>

