

    <!-- cover -->
    <section class="p-0">
      <div class="swiper-container text-white"
        data-top-top="transform: translateY(0px);"
        data-top-bottom="transform: translateY(250px);">
        <div class="swiper-wrapper">
          <div class="swiper-slide vh-100">
            <div class="image image-overlay image-zoom" style="background-image:url('<%=asset_path("cities/paris.jpg")%>');"></div>
            <div class="caption">
              <div class="container">
                <div class="row align-items-center vh-100">
                  <div class="col-md-8" data-swiper-parallax-y="-250%">
                    <span class="eyebrow mb-2">Travel</span>
                    <h1 class="display-2">Come Turn Up with your new penfriend in Paris</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-footer mb-5">
            <div class="container-fluid">
              <div class="row">
                <div class="col text-center">
                  <div class="mouse"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / presentation -->



    <!-- right sidebar -->
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <ul class="masonry row gutter-2">
              <% @cities.each do |city|%>
              <li class="col-md-6 col-lg-3">
                <% if city.name == "Paris" %>
                  <article class="tile">
                <% end %>
                <% if city.id.even? %>
                  <article class="tile tile-long">
                <% else %>
                  <% if city.id % 5 == 0 %>
                    <article class="tile tile-long">
                  <% end %>
                  <article class="tile">
                <% end %>
                  <div class="tile-image" style="background-image: url('<%=asset_path("cities/#{city.name.downcase}.jpg")%>');"></div>
                    <%= link_to city_path(city.id) do%>
                    <div class="tile-header">
                      <h2 class="text-white" style="text-align: center"><%= city.name %></h2>
                      <h4 class="text-white" style="text-align: center"><strong><%= city.users.count %> miffers </strong></h4>
                    </div>
                    <% end %>
                </article>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- / right sidebar -->


         <!-- profil carousel -->
         <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <span class="eyebrow d-block mb-1 text-primary">Meet Him</span>
          </div>
        </div>
    <section class="section-decorated-bottom pt-0">
      <div class="decorated-bottom text-light">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 40"  preserveAspectRatio="none">  
          <path d="">
            <animate 
              attributeName="d" 
              begin="0s" 
              dur="5s"
              repeatCount="indefinite"
              values="
              M0,0 C200,7.11236625e-15 200,40 400,40 C600,40 800,0 1000,0 L1000,50 L0,50 L0,0 Z;
              M0,40 C200,40 400,0 600,0 C800,0 800,40 1000,40 L1000,50 L0,50 L0,40 Z;
              M0,30 C200,30 200,0 400,0 C600,0 800,40 1000,40 L1000,50 L0,50 L0,30 Z;
              M0,0 C200,7.11236625e-15 200,40 400,40 C600,40 800,0 1000,0 L1000,50 L0,50 L0,0 Z;"></animate>
          </path>
        </svg>
      </div>
      <div class="container-fluid" style="max-width:650px">
>
        <div class="row" data-aos="fade-left" data-aos-delay="500">
          <div class="col">
            <div class="owl-carousel visible" data-items="[3,2,1]" data-margin="20" data-dots="true" data-loop="true" data-center="true">
              <article class="tile tile-long">
                <div class="tile-image" style="background-image: url(../assets/img/jean.png)"></div>
                 <a href="" class="tile-content">
                  <div class="tile-header on-hover">
                     <img src="../assets/flag/france.png" alt="flag">
                  </div>
                  <div class="tile-footer">
                    <div class="fixed-bottom text-center">
                      <span class="eyebrow ">Jean Tirard</span>
                      <h6>Paris, France</h6>
                    </div>
                  </div>
                </a>
              </article>
              <article class="tile tile-long">
                <div class="tile-image" style="background-image: url(../assets/img/flo.png)"></div>
                <a href="" class="tile-content">
                  <div class="tile-header on-hover text-right">
                     <img src="../assets/flag/italie.png" alt="flag">
                  </div>
                  <div class="tile-footer">
                    <div class="fixed-bottom text-center">
                      <span class="eyebrow">Florent Bilocq</span>
                      <h6>Rome, Italie</h6>
                    </div>
                  </div>
                </a>
              </article>
              <article class="tile tile-long">
                <div class="tile-image" style="background-image: url(../assets/img/thom.jpg)"></div>
                <a href="" class="tile-content">
                  <div class="tile-header on-hover text-right">
                     <img src="../assets/flag/allemagne.png" alt="flag">
                  </div>
                  <div class="tile-footer">
                    <div class="fixed-bottom text-center">
                      <span class="eyebrow">Thomas Feral</span>
                      <h6>Berlin, Allemagne</h6>
                    </div>
                  </div>
                </a>
              </article>
              <article class="tile tile-long">
                <div class="tile-image" style="background-image: url(../assets/img/jean.png)"></div>
                 <a href="" class="tile-content">
                  <div class="tile-header on-hover">
                     <img src="../assets/flag/france.png" alt="flag">
                  </div>
                  <div class="tile-footer">
                    <div class="fixed-bottom text-center">
                      <span class="eyebrow">Jean Tirard</span>
                      <h6>Paris, France</h6>
                    </div>
                  </div>
                </a>
              </article>
              <article class="tile tile-long">
                <div class="tile-image" style="background-image: url(../assets/img/flo.png)"></div>
                <a href="" class="tile-content">
                  <div class="tile-header on-hover text-right">
                     <img src="../assets/flag/italie.png" alt="flag">
                  </div>
                  <div class="tile-footer">
                    <div class="fixed-bottom text-center">
                      <span class="eyebrow">Florent Bilocq</span>
                      <h6>Rome, Italie</h6>
                    </div>
                  </div>
                </a>
              </article>
                <article class="tile tile-long">
                <div class="tile-image" style="background-image: url(../assets/img/thom.jpg)"></div>
                <a href="" class="tile-content">
                  <div class="tile-header on-hover text-right">
                     <img src="../assets/flag/allemagne.png" alt="flag">
                  </div>
                  <div class="tile-footer">
                    <div class="fixed-bottom text-center">
                      <span class="eyebrow">Thomas Feral</span>
                      <h6>Berlin, Allemagne</h6>
                    </div>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / profil carousel -->

    <!-- testimonials -->
    <section class="bg-primary text-white separator-top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 text-center">
            <h2>Testimony</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="owl-carousel visible accent" data-dots="true" data-loop="true" data-margin="100" data-autoplay="true">
              <blockquote class="blockquote blockquote-1">
                <p>This site is magic I met my best friend thanks to Mif.</p>
                <footer class="blockquote-footer">
                  <div class="media align-items-center">
                    <img class="avatar user-rounded" src="../assets/img/jean.png" alt="Avatar">
                    <div class="media-body ml-2">
                      <span class="d-block mb-0 text-white">Jean Tirard</span>
                      <small>Entrepreneur</small>
                    </div>
                  </div>
                </footer>
              </blockquote>
              <blockquote class="blockquote blockquote-1">
                <p>Very good experience I had a great weekend in Budapest with my correspondent.</p>
                <footer class="blockquote-footer">
                  <div class="media align-items-center">
                    <img class="avatar user-rounded" src="../assets/img/flo.png" alt="Avatar">
                    <div class="media-body ml-2">
                      <span class="d-block mb-0 text-white">Florent Bilocq</span>
                      <small>Web Develloper</small>
                    </div>
                  </div>
                </footer>
              </blockquote>
              <blockquote class="blockquote blockquote-1">
                <p>Great to meet girls.</p>
                <footer class="blockquote-footer">
                  <div class="media align-items-center">
                    <img class="avatar user-rounded" src="../assets/img/thom.jpg" alt="Avatar">
                    <div class="media-body ml-2">
                      <span class="d-block mb-0 text-white">Thomas Feral</span>
                      <small>Ingenieur</small>
                    </div>
                  </div>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / testimonial -->






