<!-- team -->

    <section class="bg-light">
      <div class="container">
      <div class="image image-overlay image-zoom" style="background-image:url('<%=asset_path("cities/barcelone.jpg")%>')"></div>

        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <span class="eyebrow d-block mb-1 text-white"><h5>Our Creative Team</h5></span>
            <p class="lead text-black">Here is our team of shock, which allows you to travel around the world and meet your future new friends.</p>
          </div>
        </div>
        <div class="row gutter-0">
          <div class="col-md-4">
            <figure class="user">
              <a href="" class="user-photo">
              <%= image_tag("img/avatar/flo.png")%>              </a>
              <figcaption class="user-caption">
                <h4>Florent Bilocq</h4>
                <span>PDG</span>
                <ul class="socials bordered">
                  <li><a href="https://www.linkedin.com/in/lam-julien-nguyen-964791178/" class="fab fa-linkedin-in fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <figure class="user">
              <a href="" class="user-photo">
              <%= image_tag("img/avatar/jean.png")%>
              </a>
              <figcaption class="user-caption">
                <h4>Jean Tirard</h4>
                <span>Web Designer</span>
                <ul class="socials bordered">
                  <li><a href="#" class="fab fa-linkedin-in fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <figure class="user">
              <a href="" class="user-photo">
              <%= image_tag("img/avatar/thom.png")%>
              </a>
              <figcaption class="user-caption">
                <h4>Thomas Feral</h4>
                <span>Assistant</span>
                <ul class="socials bordered">
                  <li><a href="#" class="fab fa-linkedin-in fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
            <figure class="user">
              <a href="" class="user-photo">
                <%= image_tag("img/avatar/greg.png")%>              </a>
              <figcaption class="user-caption">
                <h4>Greg Dalmasso</h4>
                <span>Genius</span>
                <ul class="socials bordered">
                  <li><a href="https://www.linkedin.com/in/gr%C3%A9goire-dalmasso-640911181/" class="fab fa-linkedin-in fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="400">
            <figure class="user">
              <a href="" class="user-photo">
              <%= image_tag("img/avatar/max.png")%>
              </a>
              <figcaption class="user-caption">
                <h4>Maxence Kinger</h4>
                <span>Web Designer</span>
                <ul class="socials bordered">
                  <li><a href="https://www.linkedin.com/in/maxence-kiger-805865162/" class="fab fa-linkedin-in fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="500">
            <figure class="user">
              <a href="" class="user-photo">
                <%= image_tag("img/avatar/ju.png")%>
              </a>
              <figcaption class="user-caption">
                <h4>Julien Nguyen</h4>
                <span>Genius 2</span>
                <ul class="socials bordered">
                  <li><a href="https://www.linkedin.com/in/lam-julien-nguyen-964791178/" class="fab fa-linkedin-in fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          
    </section>
    <!-- / team -->




    