<% @quizzes.each do |quiz| %>
  <hr>
  <p><%= quiz.question %></p> 
  <% answers = QuizConv.find_by(conversation: @conversation, quiz: quiz ).answers %>
  <p> <%= image_tag(current_user.avatar, :alt => "avatar", class: "avatar avatar-sm rounded mr-1") %><%= @current_user.name %></p>
  <p class="text-white bg-primary rounded p-2"><%= answers.find_by(author: current_user).content %></p>
  <p><%= image_tag(@other_user.avatar, :alt => "avatar", class: "avatar avatar-sm rounded mr-1") %><%= @other_user.name %></p>
  <p class="text-black bg-light rounded p-2"><%= answers.find_by(author: @other_user).content %></p>
<% end %>