<% if false %>
<section>
  <div class="container-fluid pt-2">
    <div class="row">
      <div class="col">
        <ul class="masonry row gutter-2">
          <% @city.users.each do |user|%>
          <li class="col-md-6 col-lg-2">
              <article class="tile">
                <div class="tile-image" style="background-color: grey;"></div>
                <div class="tile-header">
                  <h2 class="text-black" style="text-align: center"><%= user.first_name %></h2>
                </div>
            </article>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
<% end %>



    <!-- cover -->
    <section class="hero hero-with-header text-white"
      data-top-top="transform: translateY(0px);"
      data-top-bottom="transform: translateY(250px);">
      <%= image_tag(@city.picture, :alt => "avatar", class: "image image-overlay image-cover") %>
      <div class="container">
        <div class="row align-items-center">
          <div class="col text-shadow">
            <div class="row gutter-1">
              <div class="col-md-5">
                <%= link_to cities_path, class:"btn btn-rounded btn-with-ico btn-primary" do %>
                  View All Cities <i class="icon-chevron-right2 fs-24"></i>
                <%end%>
              </div>
              <div class="col-md-2">
              </div>
            </div>
            <h1 class="font-weight-bold text-black" data-top-top="transform: translateY(0px);"
            data-top-bottom="transform: translateY(-250px);"><%= @city.name.slice(0,1).capitalize + @city.name.slice(1..-1) %>
            </h1>
            <h2 class="mb-0 text-black"><%= @city.country.capitalize %></h2>
          </div>
        </div>
      </div>
    </section>
    <!-- / cover -->

    <!-- team -->
    <section class="bg-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
          <p class="lead text-black"> <%=@city.description%> </p>
          </div>
        </div>
        <div class="row gutter-0">
          <% @city.users.each_with_index do |user,count| %>
            <% if count == 1 %>
              <div class="col-md-4">
            <% else %>
              <div class="col-md-4" style="border-radius: 30px;" data-aos="fade-up" data-aos-delay="<%= count * 100 %>">
            <% end %>
              <%= render partial: "users/user_card", locals: {user: user} %>
              </div>
          <% end %>
        </div>
      </div>
    </section>
    <!-- / team -->
