<p id="notice"><%= notice %></p>

<h1>User Languages</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_languages.each do |user_language| %>
      <tr>
        <td><%= user_language.user %></td>
        <td><%= user_language.language %></td>
        <td><%= link_to 'Show', user_language %></td>
        <td><%= link_to 'Edit', edit_user_language_path(user_language) %></td>
        <td><%= link_to 'Destroy', user_language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Language', new_user_language_path %>
