 <footer class="bg-white text-dark">
  <section class="section-decorated-bottom pt-0">
      <div class="decorated-bottom text-orange">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 40"  preserveAspectRatio="none">
          <path d="">
            <animate
              attributeName="d"
              begin="0s"
              dur="5s"
              repeatCount="indefinite"
              values="
              M0,0 C200,7.11236625e-15 200,40 400,40 C600,40 800,0 1000,0 L1000,50 L0,50 L0,0 Z;
              M0,40 C200,40 400,0 600,0 C800,0 800,40 1000,40 L1000,50 L0,50 L0,40 Z;
              M0,30 C200,30 200,0 400,0 C600,0 800,40 1000,40 L1000,50 L0,50 L0,30 Z;
              M0,0 C200,7.11236625e-15 200,40 400,40 C600,40 800,0 1000,0 L1000,50 L0,50 L0,0 Z;">
                
              </animate>
          </path>
        </svg>
      </div>
    </section>
    
      <div class="separator-top">
        <div class="container py-5">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-5 text-center text-md-left">
              <ul class="nav">
                <li class="nav-item">
                  <%= link_to "Contacts","home/contact", class: "nav-link text-primary"  %>
                </li>
                <li class="nav-item">
                  <%= link_to "About Us","home/about_us", class: "nav-link text-primary"  %>                
                </li>
                <li class="nav-item">
                  <%= link_to "Team","home/team", class: "nav-link text-primary"  %>
                </li>
              </ul>
            </div>
            <div class="col-md-2 text-center">
              <img class="logo-md" src="../assets/logo/logo.png" alt="Logo">
            </div>
            <div class="col-md-5 text-center text-md-right">
              <ul class="socials">
                  <%= link_to home_not_found_path do %>
                         <li><i class="fab fa-facebook-f"></i></li>
                       <% end %>
                <%= link_to home_not_found_path do %>
                        <li><i class="fab fa-instagram"></i></li>
                       <% end %>
                <%= link_to home_not_found_path do %>
                        <li><i class="fab fa-github"></i></li>
                       <% end %>
                <%= link_to home_not_found_path do %>
                        <li><i class="fab fa-linkedin-in"></i></li>
                       <% end %>
              </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- / footer -->