<header class="header-sticky header-dark">
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark">


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav align-items-center mr-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Cities", cities_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Friends", "/home/not_found", class: "nav-link" %>
        </li>
      </ul>

      <% if user_signed_in? %>
        <ul class="navbar-nav align-items-center mr-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.first_name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to conversations_path, class: "dropdown-item" do %>
                <i class="fas fa-envelope mr-1 text-primary"></i>
                Messages
              <% end %>
              <div class="dropdown-divider"></div>

              <%= link_to user_path(current_user.id), class: "dropdown-item" do  %>
                <i class="fas fa-user mr-1 text-primary"></i>
                Profile
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <i class="fas fa-sign-out-alt mr-1 text-primary"></i>
                Disconnect
              <% end %>
            </div>
          </li>
          <div class="container" id= "correspondances_notifs">
            <%= render "correspondances/notifications" %>
          </div>
        </ul>
      <% else %>
        <ul class="navbar-nav align-items-center mr-0">
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>


          <% if false %>
            <li class="nav-item">
            <%= link_to "Login via facebook", user_facebook_omniauth_authorize_path, class: "nav-link" %>
          </li>

          <% end %>


          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link"  %>
          </li>
        </ul>

      <% end %>


      <% unless current_user.nil? %>
        <% if current_user.is_admin == true %>
        <ul class="navbar-nav align-items-center mr-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to admins_users_path, class: "dropdown-item" do %>
              Users
            <% end %>
            <div class="dropdown-divider"></div>

            <%= link_to admins_cities_path, class: "dropdown-item" do  %>
              Cities
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to admins_languages_path, class: "dropdown-item" do %>
              Languages
            <% end %>
          </div>
        </li>
        </ul>
        <% end %>
      <% end %>

    </div>
  </nav>
</div>
</header>
