<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="../assets/logo/favicon.ico"/>
    <title>MIF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <%= render 'layouts/navs' %>
    <%= render "layouts/alerts" %>

    <%= yield %>

    <%= render "layouts/footer"%>









  </body>
</html>
